* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}
a {
    color: #dd3333;
    text-decoration: none;
}


#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    padding: 10px;
}
#navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

#navbar li {
    margin-left: 20px;
}

#navbar a {
    color: #fff;
}